doctype html
html
	head
		title= MathNode

block content
	input(type='text' id='text')
	input(type='button' class='btn' id='nextbtn' value='Next') 

script(src='/js/jquery-2.1.0.min.js')
script(src='/js/test.js')