body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.answer-body {
	display: inline-block;	
}

#problemsetstatus {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}